@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');


body {
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}


@media (max-width: 600px) {
  body {
    font-family: 'Rubik', sans-serif;
    overflow-x: hidden;
  }
}

h5 {
  font-family: 'Rubik', sans-serif;
}

a{
  font-family: 'Rubik', sans-serif;
}

button{
  font-family: 'Rubik', sans-serif;
}

p{
  font-family: 'Rubik', sans-serif;
}


/*Give the header a height of 120*/
.headerStyle {
  height: 69px;
  /* max-width: 700px; */
  /* display: flex;
  justify-content: center; */
  /*position: fixed;*/
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 5;
  background-color: black;
}

.videoStyle {
  height: 600px;
  width: 100%;
  background-color: #EEF0F2;
  padding: 60px 0px 0px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

@media (max-width: 600px) {
  .videoStyle {
    height: 400px;
  }

}

.heroStyle {
  height: 650px;
  width: 100%;
  background-color: black;
  padding: 69px 0px 0px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.video{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.greenButton {
  color: white;
  background-color: #00CC66;
}

.navbar {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  max-width: 1034px;
  margin: 0px auto;
}
.heroText{
  color: white;
  padding-top: 100px;
  font-size: 58px;

}



@media (max-width: 600px) {
  .heroText {
    font-size: 40px;
    color: white;
    padding-top: 150px;
  }

}

.heroButtons {
  display: inline-block;
  text-align: center;
  padding-top: 20px;
}

@media (max-width: 600px) {
  .heroButtons  {
    display: inline-block;
    text-align: center;
  }


}


.signUpStyle {
  height: 300px;
  width: 100%;
  padding-top: 70px;
  background-color: black;
  text-align: center;
}

.footerStyle {
  height: 140px;
  width: 100%;
  background-color: black;
  position: relative;
  border-top: 1px solid #343434;
}

.footerLogo{
  width: 90%;
  margin-left: 10%;
  padding-top: 30px;
}

.footerStick{
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 10px;
}

.landingPage {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: stretch;
}

